<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                    <div class="col-8">
                        <a class="navbar-brand" href="#">
                            <img src="#" alt="" width="" height="54">
                            Formula - 1
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-outline-success me-2" href="{% url 'index_page' %}"> На главную </a>
{#                        <button class="btn btn-outline-success me-2" type="button">На главную</button>#}
                        <button class="btn btn-outline-success me-2" type="button">Чё нибудь потыкать</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>
</div>